<!DOCTYPE html>
<html>
  <% include partial_head.ejs %>
  <body >
    <h1><%= pageTitle  %></h1>
    <p id="statusText"></p>
    <div class="container" id="table-container">
    </div>
    <script src='/js/site.js'></script>
  </body>
</html>
